.generator {
    margin-top: 20vh;
}

.generator p {
    color: black;
    font-weight: normal;
}

.generator-container {
    margin-top: 1vh;
    display: inline-flex;
}

.generator-header h1 {
    color: #4a4b81;
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 2.5vh;
}

.submit-button {
    margin-top: 4vh;
    margin-left: 4vh;
    background-color: #FFEAD9;
    color: #4a4b81;
    border: 2px solid #4a4b81;
    border-radius: 25px;
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px #4a4b81;
    transition: all 0.2s ease-in-out;
    padding: 5px 10px;
    width: 300px;
}

.user-form {
    text-align: left;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

.pre-form {
    display: flex;
    align-items: center;
}

.pre-form img {
    margin-right: 2.5vh; 
    max-width: 30px;
}

.input-oval {
    text-align: center;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    border: 2px solid #DE7117;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    outline: none;
    transition: all 0.2s ease-in-out;
    background-color: #FFEAD9;
    margin-bottom: 5vh;
}

.input-oval:focus {
    border-color: #d1f9fe;
    box-shadow: 0 0 10px #d1f9fe;
}

.dropdown {
    margin-top: 2vh; 
    margin-bottom: 5vh; 
    margin-left: 8vh; 
    width: 250px;
    height: 50px;
    border: 2px solid #DE7117;
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    background-color: #FFEAD9;
}

.dropdown:focus {
    box-shadow: 0 0 10px #d1f9fe;
}

.giraffe-container {
    margin-top: 50px;
}

.giraffe-learners {
    margin-top: -10vh;
    max-width: 70%;
}

.giraffe-creators {
    margin-top: -5vh;
    max-width: 80%;
}

.giraffe-researchers {
    margin-top: -5vh;
    max-width: 80%;
}