@font-face {
    font-family: 'Nico Moji';
    src: url('../fonts/nicomoji/NicoMoji-Regular.ttf') format('truetype');
}

.header {
    position: fixed;
    top: 0;
    left: 5%;
    right: 5%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.left p {
    font-family: 'Nico Moji', sans-serif;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-text-stroke: 1px #d1f9fe;
}

.right {
    display: flex;
    align-items: center;
}

.right button {
    margin-right: 5vh;
    background-color: #FFEAD9;
    color: #4a4b81;
    border: 2px solid #4a4b81;
}

