#root {
  height: 100%;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: auto;
  margin: 0 auto;
  padding: 2rem;
  background-color: #FFF2E8;
}